* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    color: #333333;
    font-size: 14px;
}

.wrapper {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}

.nav > li{
    margin-left: 10px;
    margin-right: 10px;
}

.nav > li a{
    text-decoration: none;
    color: #333333;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 5px;
    margin-left: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}

/* Попробовал различные эффекты анимации и рамок для кнопок */
.nav > li a:hover {
    box-shadow: inset 0 0 0 4px #6ab874;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.header {
    background-color: white;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.header-hamburger {
    display: none;
    background-color: #78d170;
    padding: 5px;
    border-radius: 5px;
}

/* Я отстаю по адаптивной вёртске, много чего непонятного */
@media screen and (max-width: 1000px) {
    .header-bottom {
        position: relative;
    }

    /* Пытался сделать кнопку "гамбургер", но не понимаю как сделать её в виде 3-х полосок */
    .header-hamburger {
        display: block;
    }

    .nav {
        display: none;
        position: absolute;
        border: 1px solid grey;
        left: 0;
        top: 40px;
        background-color: #EFEFEF;
    }

    .header-bottom:hover .nav {
        display: block;
    }
}

.logo {
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.logo-image {
    background-size: cover;
    display: block;
    width: 90px;
    height: 90px;
    background-image: url(../img/logo.svg);
    transition: padding ease 0.3s;
}

.logo-image:hover {
    padding: 10px;
}

.logo-text {
    color: #66C05D;
    position: relative;
    top: 0px;
    transition: transform .2s ease-in-out;
}

.logo-text:hover {
    transform: translate3d(35px, 0px, 0px);
}

.header-info span {
    font-size: 16px;
}

.header-info button {
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid #66C05D;
    background-color: transparent;
    padding: 10px 15px;
    margin-left: 20px;
    transition: 0.2s ease;
    cursor: pointer;
}

.header-info button:hover{
    background-color: #66C05D;
}

.header-bottom {
    padding: 10px 0 ;
}

.header-bottom .nav {
    font-size: 16px;
    margin: 0;
}

hr{
    background-color: #EFEFEF;
    border: none; 
    height: 1px;
}

.banner {
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 39px;
}

.title-h2 {
    font-size: 24px;
    font-weight: 700;
    padding: 8px;
    transition: transform .2s ease-in-out;
}

.title-h2:hover {
    transform: translate3d(35px, 0px, 0px);
}

.title-h3 {
    font-size: 24px;
    font-weight: 700;
    padding: 15px;
}

.banner p{
    margin-bottom: 20px;
    max-width: 288px;
}

.btn {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 4s0px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03f453, #027515, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
  }
   
  /* Долго мучался с эффектами для кнопок. Почему-то при наведении на кнопку - включалась анимация не самой кнопки, а всей панели навигации */
  .btn:hover {
    animation: animate 8s linear infinite;
  }
   
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
   
  .btn:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 200%;
    border-radius: 20px;
    opacity: 0;
    transition: .5s;
  }
   
  .btn:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
  }

.bg-white {
    background-color: white;
}

.bg-green {
    background-color: #66C05D;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.bg-green-item {
    flex: 0 0 8%;
    padding: 0 35px;
}

.bg-green-item:last-child {
    flex: 0 0 30%;
}

.bg-green h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
}

.bg-green input {
font-size: 14px;
border: 1px solid #fff;
border-radius: 5px;
padding: 6px 8px;
}

.bg-green .btn {
    display: block;
    text-align: center;
    max-width: 200px;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0 30px;
}

@media screen and (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

.grid-item-title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.grid-item-img {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.grid-item-left {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.grid-item-right {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}

.grid-item-catalog {
    text-align: center;
}

.grid-item-catalog .bg-white {
    padding: 15px 30px;
}

.grid-price {
font-size: 21px;
font-weight: 500;
}

.grid-btn {
    border-radius: 15px;
    border: 2px solid #66C05D;
    background-color: #66C05D;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0,2s ease;
    cursor: pointer;
}

.footer-info-span {
    font-size: 10px;
}

.footer-info button {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #66C05D;
    background-color: transparent;
    padding: 10px 25px;
    margin-left: 36px;
    transition: 0.2s ease;
    cursor: pointer;
}

.footer-info button:hover {
    background-color: #66C05D
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    color: #828282;
    padding: 15px 0;
}

.footer-bottom p {
    margin: 0;
    padding: 5px;
}

.footer-bottom a {
    color: #828282;
    text-decoration: none;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 980px) {
    
}